<h1>All Robots</h1><a href="/"><small>back</small></a><br/>

<div id="robot_list">
  <% @robots.each do |robot| %>
    <img src="https://robohash.org/<%= (robot.name+robot.city+robot.state+robot.birthdate+robot.date_hired+robot.department).delete(' ') %>.png">
    <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
    <a class="btn btn-default" href="/robots/<%= robot.id %>/edit">Edit</a>
    <form class="btn btn-default" action="/robots/<%= robot.id %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Destroy Robot">
    </form><br>
  <% end %>
</div>
